@import url('style.css');
.fullsize_image_main, .fullsize_image_two {
    background-image: url("../img/back1.jpg");
    background-color: var(--background-transparent-color);
    background-blend-mode: var(--blend-mode);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-light-color); /* Kolor tekstu */
}
.fullsize_image_main{
    background-image: url("../img/back1.jpg");
} 
.fullsize_image_two{
    background-image: url("../img/back2.jpg");
    min-height: 50vh;
}

.scroll-indicator {
    position: absolute;
    bottom: 20px; /* Odległość od dołu sekcji */
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px; /* Rozmiar ikony */
    color: var(--text-light-color); /* Kolor ikony */
    transition: 0.4s;
}
.scroll-indicator:hover {
    opacity: 0.8;
    font-size: 50px;
}
.scroll-indicator a {
        color: var(--text-light-color); /* Kolor tekstu linków navbaru */
        text-decoration: none;
}
.overlay {  
    padding: 20px;
    border-radius: 10px;
}
.overlay img {
    max-width: 50vh;
}
.overlay h1{
    color: var(--text-light-color);
    opacity: 100%;
    text-shadow: var(--shadow-color);
    opacity: 0.9;
    margin-top: -5vh;
}

.about, .contact, .about-office {
    width: 100%;
    padding: 5vh 8vw;
    box-sizing: border-box;
    scroll-margin-top: 60px;
    flex-direction: column;
    padding: 5vh 8vw;
    box-sizing: border-box;
    scroll-margin-top: 60px;
}
.about h1, .contact h1, .about-office h1 {
    color: var(--text-light-color);
    font-size: 8vh;
}
.about h2, .contact h2, .about-office h2 {
    color: var(--accent-color);
}
.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; /* Odstęp między tekstem a obrazem */
}
.about-content p {
    color: var(--text-light-color);
    opacity: 0.9;
}

.about-text {
    flex: 1;
    padding: 20px;
    text-align: justify;
    text-justify: inter-word;
}
.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img {
    max-width: 80%;
    height: auto;
}





.quatersize-image {
    background-image: url("../img/back1.jpg");
    background-color: var(--background-transparent-color);
    background-blend-mode: var(--blend-mode);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30vh;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-light-color); /* Kolor tekstu */
}

.footer {
    background-color: var(--seconadry-color);
    color: var(--text-dark-color);
    padding: 20px;
}

.footer-top {
    display: flex;
    flex-wrap: wrap; /* Pozwala na zawijanie wierszy */
    justify-content: space-between;
}

.footer-left,
.footer-right {
    flex: 1;
    padding: 10px;
    min-width: 200px; /* Minimalna szerokość, aby sekcje nie były zbyt wąskie */
}
.footer-left {
    text-align: right;
    margin-right: 50px;
}

.footer-left ul {
    list-style-type: none;
    padding: 0;
}

.footer-left ul li {
    margin: 10px 0;
}

.footer-left ul li a {
    color: var(--accent-color);
    text-decoration: none;
    transition: 0.5s;
}

.footer-left ul li a:hover {
    text-decoration: underline;
}

.footer-right p {
    margin: 10px 0;
    cursor: default;
    font-weight: 200;

}

.footer-right a {
    text-decoration: none;
    color: var(--text-dark-color)
}

.footer-right .material-icons {
    vertical-align: middle;
    margin-right: 5px;
    color: var(--accent-color);
}

.social-media {
    margin-top: 10px;
}

footer strong {
    color: var(--accent-color);
    font-size: 2vh;
}
.social-icon {
    margin-right: 10px;
    color: var(--accent-color)!important;
    text-decoration: none;
    font-size: 24px;
    transition: 0.5s;
}

.social-icon:hover {
    color: var(--text-dark-color);
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    font-size: 1.5vh;
}

@media (max-width: 768px) {
    .footer-top {
        flex-direction: column;
    }

    .footer-left,
    .footer-right {
        text-align: center;
        padding: 10px 0;
        margin: auto;
    }

    .social-icon {
        margin-right: 15px;
        font-size: 30px;
    }
}