
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Roboto Slab", serif;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--accent-color); /* Kolor tekstu etykiety */
    font-family: "Roboto Slab", serif;
}

.form-group input, 
.form-group textarea {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    border: 1px solid var(--accent-color);
    box-sizing: border-box;
    font-size: 16px;
    color: var(--accent-color);
    font-family: "Roboto Slab", serif;
}

form button {
    background-color: var(--accent-color); /* Kolor tła przycisku */
    color: var(--primary-color); /* Kolor tekstu przycisku */
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-family: "Roboto Slab", serif;
    border: 1px solid var(--accent-color);
    transition: background-color 0.3s;
}

form button:hover {
    background-color: var(--primary-color); /* Kolor tła przycisku po najechaniu */
    color: var(--accent-color);
    opacity: 0.9;
    border: 1px solid var(--accent-color);
}


@media (max-width: 760px) {
    .about-content {
        flex-direction: column;
    }

    .about-text, .about-image {
        width: 100%;
    }

    .about-image img {
        max-width: 100%; /* Dopasowanie rozmiaru zdjęcia w przypadku małych ekranów */
    }
}
