/* Półprzezroczysty tło dla navbaru */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(26, 26, 26, 0.5); /* Półprzezroczyste tło */
    color: #FFFFFF; /* Kolor tekstu navbaru */
    padding: 40px 80px;
    z-index: 1000; /* Wysoki z-index, aby navbar był na wierzchu */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Opcjonalny cień dla efektu głębi */
    box-sizing: border-box;
    transition: background-color 0.3s ease, padding 0.3s ease; /* Płynne przejście dla zmiany koloru tła */
}

/* Pełne tło po przewinięciu */
.navbar.scrolled {
    background-color: #1A1A1A; /* Pełne tło */
    padding: 20px 40px;
}

/* Pełne tło podczas otwartego menu */
.navbar.menu-open {
    background-color: #1A1A1A; /* Pełne tło */
}

/* Pozostałe style navbaru */
.navbar-brand {
    font-size: 1.5em;
    font-weight: 300;
    cursor: pointer;
    transition: 0.3s;
}

.navbar-brand:hover {
    font-weight: 500;
    color: #A37E2C;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    opacity: 0; /* Menu jest ukryte domyślnie */
    visibility: hidden; /* Menu jest ukryte domyślnie */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Płynne przejście */
    background-color: #1A1A1A; /* Kolor tła menu */
}

.navbar-menu.active {
    opacity: 1; /* Menu jest widoczne */
    visibility: visible; /* Menu jest widoczne */
}

/* Styl dla przycisku hamburgerowego */
.navbar-toggle {
    display: block;
    font-size: 1.5em;
    cursor: pointer;
}
