@import url('navbar.css');
@import url('content.css');

/* Ogólne style dla całego projektu */
body, html {
    background-color: #1A1A1A;; /* Tło główne */
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: "Roboto Slab", serif;
    min-width: 400px; /* Minimalna szerokość strony */
    overflow-x: hidden;
}

h1, h2 {
    color: #1A1A1A; /* Kolor nagłówka */
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.content {
    padding-top: 60px; /* Dostosuj wartość w zależności od wysokości navbaru */
}

section {
    padding: 60px 20px;
}

h1 {
    color: #1A1A1A; /* Kolor nagłówka */
}

p {
    color: #4D4D4D; /* Kolor tekstu */
}


