@import url('navbar.css');
@import url('content.css');
@import url('contact_form.css');

/* Schemat kolorów, zmiana kolorów tutaj, zmieni wszystkie kolory na stronie! */
/* Przewaga ciemnego, biały tekst */
/* @media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #1A1A1A;
        --primary-transparent-color: rgba(26, 26, 26, 0.5);
        --background-transparent-color: rgba(26, 26, 26, 0.7);
        --seconadry-color: #FFFFFF;
        --text-light-color: #FFFFFF;
        --text-dark-color: #1A1A1A;
        --accent-color: #d5a848;
        --shadow-color: rgba(0, 0, 0, 0.3);
        --blend-mode: darken;
    }
}
/* Przewaga jasnego, czarny tekst */
/* @media (prefers-color-scheme: light) {
        :root {
        --primary-color: #FFFFFF;
        --primary-transparent-color: rgba(255, 255, 255, 0.9);
        --background-transparent-color: rgba(255, 255, 255, 0.7);
        --seconadry-color: #1A1A1A;
        --text-light-color: #1A1A1A;
        --text-dark-color:  #FFFFFF;
        --accent-color: #d5a848;
        --shadow-color: rgba(0, 0, 0, 0.3);
        --blend-mode: lighten;
    }
} */ 
:root {
    --primary-color: #FFFFFF;
    --primary-transparent-color: rgba(255, 255, 255, 0.9);
    --background-transparent-color: rgba(255, 255, 255, 0.7);
    --seconadry-color: #1A1A1A;
    --text-light-color: #1A1A1A;
    --text-dark-color:  #FFFFFF;
    --accent-color: #d5a848;
    --shadow-color: rgba(0, 0, 0, 0.3);
    --blend-mode: lighten;   
}
/* Ogólne style dla całego projektu */
body, html {
    background-color: var(--primary-color); /* Tło główne */
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: "Roboto Slab", serif;
    min-width: 400px; /* Minimalna szerokość strony */
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1, h2 {
    color: var(--primary-color); /* Kolor nagłówka */
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.content {
    padding-top: 60px; /* Dostosuj wartość w zależności od wysokości navbaru */
}

section {
    padding: 60px 20px;
}

h1 {
    color: var(--primary-color); /* Kolor nagłówka */
}



